{% trans_default_domain 'FOSUserBundle' %}

<div class="col-md-3">
    {% include '@Utilisateurs/Default/modulesUsed/utilisateursConnecte.html.twig' %}
</div>

<div class="col-md-9">
    <h2>Modifier mes informations</h2>
    <div id="collapseOne" class="accordion-body collapse in">
        {{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
        {{ form_widget(form) }}
        <div>
            <input class="btn btn-primary btn-block" type="submit" value="{{ 'profile.edit.submit'|trans }}"/>
        </div>
        {{ form_end(form) }}
    </div>
</div>